<div class="header">
  <div id="site_title"><a href="index.html" ui-sref="home"><img src="/images/img/logoo.jpg" style="width:100px" alt=""></a></div>
  <!-- Main Menu -->
  <ol id="menu">
    <li class="active_menu_item"><a href="#" ui-sref="home">Home</a>
      <!-- sub menu -->
      <ol>
        <li><a href="#" ui-sref="coolSlider">Cool Slider</a></li>
        <li><a href="#" ui-sref="longSlider">Long Slider</a></li>
        <li><a href="#" ui-sref="fullSlider">Fullscreen Slider</a></li>
        <li><a href="image-frontpage.html">Static Image</a></li>
      </ol>
    </li>
    <!-- END sub menu -->
    <li><a href="#">Brands</a>
      <!-- sub menu -->
      <ol>
        <li><a href="magazine.html">AUDI</a></li>
        <li><a href="blog.html">BMW</a></li>
        <li><a href="full-width.html">MERCEDES</a></li>
        <li><a href="columns.html">More brands...</a></li>
      </ol>
    </li>
    <!-- END sub menu -->
    <li><a href="#">Galleries</a>
      <!-- sub menu -->
      <ol>
        <li><a href="gallery-simple.html">Simple</a></li>
        <li><a href="portfolio.html">Filterable</a></li>
        <li><a href="gallery-fader.html">Fade Scroll</a></li>
        <li><a href="video.html">Video</a></li>
        <li class="last"><a href="photogrid.html">PhotoGrid</a></li>
      </ol>
    </li>
    <!-- END sub menu -->
    <li><a href="contact.html">Contact</a></li>
  </ol>
</div>
<!-- END header -->
<div id="container">
  <div id="slider3" class="nivoSlider"> <img title="Caption Here" src="/images/img/demo/slide_1.jpg" alt="" width="960" height="450"> <img title="" src="/images/img/demo/slide_2.jpg" alt="" width="960" height="450"> <img title="" src="/images/img/demo/slide_3.jpg" alt="" width="960" height="450"> </div>
  <div class="one-half">
    <div class="heading_bg">
      <h2>One half</h2>
    </div>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div class="one-half last">
    <div class="heading_bg">
      <h2>One half</h2>
    </div>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div style="clear:both; height: 40px"></div>
</div>
<!-- close container -->
<div id="footer">
  <!-- First Column -->
  <div class="one-fourth">
    <h3>Useful Links</h3>
    <ul class="footer_links">
      <li><a href="#">Lorem Ipsum</a></li>
      <li><a href="#">Ellem Ciet</a></li>
      <li><a href="#">Currivitas</a></li>
      <li><a href="#">Salim Aritu</a></li>
    </ul>
  </div>
  <!-- Second Column -->
  <div class="one-fourth">
    <h3>Terms</h3>
    <ul class="footer_links">
      <li><a href="#">Lorem Ipsum</a></li>
      <li><a href="#">Ellem Ciet</a></li>
      <li><a href="#">Currivitas</a></li>
      <li><a href="#">Salim Aritu</a></li>
    </ul>
  </div>
  <!-- Third Column -->
  <div class="one-fourth">
    <h3>Information</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
    <div id="social_icons"> Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br>
      Photos © <a href="http://dieterschneider.net">Dieter Schneider</a> </div>
  </div>
  <!-- Fourth Column -->
  <div class="one-fourth last">
    <h3>Socialize</h3>
    <img src="/images/img/icon_fb.png" alt=""> <img src="/images/img/icon_twitter.png" alt=""> <img src="/images/img/icon_in.png" alt=""> </div>
  <div style="clear:both"></div>
</div>
<!-- END footer -->
