<div style="background: ; opacity: 0.6; width: 96%; padding: 0 2%">
  <div class="header">
    <div id="site_title"><a href="index.html" ui-sref="home"><img src="/images/img/logoo.jpg" style="width:100px" alt=""></a></div>
    <!-- Main Menu -->
    <ol id="menu">
      <li class="active_menu_item"><a href="#" ui-sref="home">Home</a>
      <!-- sub menu -->
      <ol>
        <li><a href="#" ui-sref="coolSlider">Cool Slider</a></li>
        <li><a href="#" ui-sref="longSlider">Long Slider</a></li>
        <li><a href="#" ui-sref="fullSlider">Fullscreen Slider</a></li>
        <li><a href="image-frontpage.html">Static Image</a></li>
      </ol>
    </li>
      </li>
      <!-- END sub menu -->
      <li><a href="#">Brands</a>
        <!-- sub menu -->
        <ol>
        <li><a href="magazine.html">AUDI</a></li>
        <li><a href="blog.html">BMW</a></li>
        <li><a href="full-width.html">MERCEDES</a></li>
        <li><a href="columns.html">More brands...</a></li>
      </ol>
      </li>
      <!-- END sub menu -->
      <li><a href="#">Galleries</a>
        <!-- sub menu -->
        <ol>
          <li><a href="gallery-simple.html">Simple</a></li>
          <li><a href="portfolio.html">Filterable</a></li>
          <li><a href="gallery-fader.html">Fade Scroll</a></li>
          <li><a href="video.html">Video</a></li>
          <li class="last"><a href="photogrid.html">PhotoGrid</a></li>
        </ol>
      </li>
      <!-- END sub menu -->
      <li><a href="contact.html">Contact</a></li>
    </ol>
  </div>
  <!-- END header -->
</div>
<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a> <a id="nextslide" class="load-item"></a>
<div id="thumb-tray" class="load-item">
  <div id="thumb-back"></div>
  <div id="thumb-forward"></div>
</div>
<!--Time Bar-->
<div id="progress-back" class="load-item">
  <div id="progress-bar"></div>
</div>
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
  <div id="controls"> <a id="play-button"><img src="/images/img/pause.png" alt="" id="pauseplay"></a>
    <!--Slide counter-->
    <div id="slidecounter"> <span class="slidenumber"></span> / <span class="totalslides"></span> </div>
    <!--Slide captions displayed here-->
    <div id="slidecaption"></div>
    <!--Thumb Tray button-->
    <a id="tray-button"><img src="/images/img/button-tray-up.png" alt="" id="tray-arrow"></a>
    <!--Navigation-->
    <ul id="slide-list">
    </ul>
  </div>
</div>